<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicional</title>
    <link rel="stylesheet" href="/css/general.css">
</head>
<body class= "adicional">
 
    <h1>Link de interés!</h1>

    <p>En este apartado te dejamos un link a una página de facebook donde podes sacar tus dudas en tiempo real sobre arañas que
    puedas <br> encontrarte en tu vida cotidiana. </p> 
    <p>Solo tenés que sacarle una foto y subirla pidiendo el ID de la misma y a la
    brevedad te van a responder!</p>
    <p>No te olvides de colocar la ubicacion del registro!</p>

<div><a href="https://www.facebook.com/groups/150758545412026/" target="_blank">Insectos y aracnidos de argentina</a></div>

</body>
</html>

