<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicional</title>
</head>
<body>
    <h1>Link de interés!</h1>

    <p>En este apartado te dejamos un link a una página de facebook donde podes sacar tus dudas en tiempo real sobre arañas que
    puedas encontrarte en tu vida cotidiana. Solo tenés que sacarle una foto y subirla pidiendo el ID de la misma y a la
    brevedad te van a responder!</p>

<a href="https://www.facebook.com/groups/150758545412026/" target="_blank">Insectos y aracnidos de argentina</a>

</body>
</html>