<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arañizate</title>
    <link rel="stylesheet" href="/css/general.css">
</head>
<body class= "home">
    <h1>¡Arañizate!</h1>
    
    <h2>Sobre Nosotros:</h2>
    <p>En esta página encontrarás información sobre algunas especies de arañas que podes encontrar en la provinvia de Buenos
        Aires. El propósito es ayudarte a identificar la especie y que sepas su peligrosidad para así crear una relación
        entre las personas y las arañas que impulse un pensameiento dirigido a preservar la naturaleza en todas sus
        representaciones.</p>
    
    <h2>Apartados:</h2>

    <h2><a href="/spiders">Arañas</a></h2>

            <ul>
                <li>Especie</li>
                <li>Familia</li>
                <li>Nombre común</li>
                <li>Peligrosidad</li>
                <li>Imágen</li>
            </ul>
       
    <h2><a href="/adicional">Información adicional</a></h2>
       

</body>
</html>
