<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arañizate</title>
    <link rel="stylesheet" href="/css/general.css">
</head>
<body class= "spiders">

    <h1>Arañas</h1>
  <p>
        <ul>
        <li>Especie: Alpaida Gallardoi</li>
        <li>Familia: Araneidae</li>
        <li>Nombre común: Tejedora roja</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/alpaida g.jpg" alt="Alpaida" width="800" height="800">
  
    <p>
    <ul>
        <li>Especie: Alpaida Veniliae</li>
        <li>Familia: Araneidae</li>
        <li>Nombre común: Tejedora naranja</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/alpaida v.jpg" alt="Alpaida" width="800" height="500">

<p>
    <ul>
        <li>Especie: Araneus Uniformis</li>
        <li>Familia: Araneidae</li>
        <li>Nombre común: Tejedora verde</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/araneus.jpg" alt="Araneus" width="800" height="500">

<p>
    <ul>
        <li>Especie: Argiope Argentata</li>
        <li>Familia: Araneidae</li>
        <li>Nombre común: Araña tigre</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/argiope.jpg" alt="Argiope" width="800" height="500">

<p>
    <ul>
        <li>Especie: Ariadna</li>
        <li>Familia: Segestriidae</li>
        <li>Nombre común: Araña de tubo o pared</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/ariadna.jpg" alt="Ariadna" width="800" height="500">

<p>
    <ul>
        <li>Especie: Dysdera Crocota</li>
        <li>Familia: Dysderidae</li>
        <li>Nombre común: Cazadora roja</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/dysdera.jpg" alt="Dysdera" width="500" height="900">

<p>
    <ul>
        <li>Especie: Grammostola Rosea</li>
        <li>Familia: Theraphosidae</li>
        <li>Nombre común: Araña pollito</li>
        <li>Peligrosidad: Solo peligroso para los alérgicos. Disponen de pelos urticantes que son capaces de lanzar como defensa
        contra depredadores, pudiendo causar graves molestias en la piel de manipuladores o en los peores casos graves daños en
        ojos sin protección.</li>
    </ul>
</p>
<img src="/img/grammostola.jpg" alt="Grammostola" width="600" height="500">

<p>
    <ul>
        <li>Especie: Kukulcania Hibernalis</li>
        <li>Familia: Filistatidae</li>
        <li>Nombre común: Araña de patio</li>
        <li>Peligrosidad: No es de importancia mádica</li>
    </ul>
</p>
<img src="/img/kukulcania.JPG" alt="Kukulcania" width="800" height="500">

<p>
    <ul>
        <li>Especie: Loxosceles Laeta</li>
        <li>Familia: Sicariidae</li>
        <li>Nombre común: Araña violinista</li>
        <li>Peligrosidad: De alta importancia médica. Su mordedura produce un intenso dolor y puede llegar a comprometer gravemente
        la salud, incluso provocando la muerte en los casos más graves. </li>
    </ul>
</p>
<img src="/img/loxosceles.webp" alt="Loxosceles" width="600" height="500">

<p>
    <ul>
        <li>Especie: Latrodectus</li>
        <li>Familia: Theridiidae</li>
        <li>Nombre común: Viuda negra americana</li>
        <li>Peligrosidad: De alta importancia médica. Sus neurotoxinas afectan el sistema nervioso, por lo que tiene el poder de
        paralizar a su víctima.
        </li>
    </ul>
</p>
<img src="/img/latrodectus.jpg" alt="Latrodectus" width="600" height="500">

<p>
    <ul>
        <li>Especie: Lycosa sp</li>
        <li>Familia: Lycosidae</li>
        <li>Nombre común: Araña lobo</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/lycosa.jpeg" alt="Lycosa" width="800" height="500">

<p>
    <ul>
        <li>Especie: Mataltella</li>
        <li>Familia: Desidae</li>
        <li>Nombre común: Araña de tela irregular</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/mataltella.jpg" alt="Mataltella" width="800" height="500">

<p>
    <ul>
        <li>Especie: Megafreya Sutrix</li>
        <li>Familia: Salticidae</li>
        <li>Nombre común: Araña saltarina</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/megafreya.jpeg" alt="Megafreya" width="800" height="500">

<p>
    <ul>
        <li>Especie: Misumena Vatia</li>
        <li>Familia: Thomisidae</li>
        <li>Nombre común: Araña cangejo</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/misumenia.jpg" alt="Misumenia" width="800" height="500">

<p>
    <ul>
        <li>Especie: Nephila</li>
        <li>Familia: Araneidae</li>
        <li>Nombre común: Araña de seda dorada</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/nephila.jpg" alt="Nephila" width="500" height="800">

<p>
    <ul>
        <li>Especie: Parawixia Audax</li>
        <li>Familia: Araneidae</li>
        <li>Nombre común: Tejedora gris</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/parawixia.jpg" alt="Parawixia" width="800" height="500">

<p>
    <ul>
        <li>Especie: Pholcus Phalangioides</li>
        <li>Familia: Pholcidae</li>
        <li>Nombre común: Arañas de patas largas</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/pholcus.jpg" alt="Pholcus" width="600" height="500">

<p>
    <ul>
        <li>Especie: Phoneutria</li>
        <li>Familia: Ctenidae</li>
        <li>Nombre común: Araña bananera</li>
        <li>Peligrosidad: Son arañas agresivas y muy venenosas. Su picadura provoca asfixia rápidamente y consecuentemente, la
        muerte.</li>
    </ul>
</p>
<img src="/img/phoneutria.jpeg" alt="Phoneutria" width="800" height="500">

<p>
    <ul>
        <li>Especie: Polybetes sp</li>
        <li>Familia: Sparassidae</li>
        <li>Nombre común: arañon de monte</li>
        <li>Peligrosidad: No es de importancia médica, pero su picadura es dolorosa.</li>
    </ul>
</p>
<img src="/img/polybetes.jpg" alt="Polybetes" width="800" height="500">

<p>
    <ul>
        <li>Especie: Scytodes maculata</li>
        <li>Familia: Scytodidae</li>
        <li>Nombre común: Araña escupidora</li>
        <li>Peligrosidad: No es de importancia médica</li>
    </ul>
</p>
<img src="/img/scytodes.jpg" alt="Scytodes" width="800" height="500">

<p>
    <ul>
        <li>Especie: Steatoda Grossa</li>
        <li>Familia: Theridiidae</li>
        <li>Nombre común: Falsa viuda negra</li>
        <li>Peligrosidad: Su picadura puede producir steatodismo pero no tiene efecto a largo plazo</li>
    </ul>
</p>
<img src="/img/Steatoda g.jpg" alt="Steatoda" width="500" height="500">

<p>
    <ul>
        <li>Especie: Steatoda Triangulosa</li>
        <li>Familia: Theridiidae</li>
        <li>Nombre común: Araña casera común</li>
        <li>Peligrosidad: Su picadura puede producir steatodismo pero no tiene efecto a largo plazo</li>
    </ul>
</p>
<img src="/img/steatoda t.jpg" alt="Steatoda" width="800" height="500">


</body>
</html>