.home {
    background-image: url('https://wallpapercave.com/wp/05QyIzb.jpg');
    background-size: cover;
    font-family: 'Merienda', cursive;
}

.home h1 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    background-color: rgb(255, 182, 193, 0.4);
    
}

.home h2 {
    font-size: 20px;
    font-weight: 800;
}

.home h2 a {
    color: darkkhaki;
    font-style: italic;
}

.home div {
    font-size: 18px;
    font-weight: 400;
}

.home p {
    text-align: justify;
    font-size: 18px;
}
