.spiders {
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/783/724/868/green-mountain-during-sunrise-view-wallpaper-preview.jpg');
}
.spiders {
    background-size: cover;
}
.spiders p {
    font-size: 50px;
}
.spiders h1 {
    text-align: center;
}